:root{
    --pink:rgb(180, 80, 90)
}

body {
    background-color: beige !important;
    height: 100vh;
    
}

header{
   
    background-image: url(events-heavenly-header.jpg);
    height: 65vh;
    background-size:100% 100% ;
    
}


.overlay  {
    background-color: rgba(130, 28, 33 ,.5);
    height: 100%;
}

.navbar-nav a {
    color: white;
}

.navbar-nav a:hover{
    color: var(--pink);
}

nav {
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    position: absolute;
    background-color: #414658;
    position: relative;
}

.fa-x {
    position: absolute;
    top: 10px;
    right: 10px;
}

.open{
    position: absolute;
    left: 12%;
    cursor: pointer;
}

h4{
    background-color: var(--pink);
}

.div {
    background-color: gray;
}

.zz{
    background-image: url(invitation-2508607__340.jpg);
    height: 20vh;
    background-size: 100% 100%;
}